html, body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'aAttackGraffiti' !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: 'aAttackGraffiti';
  src: local('aAttackGraffiti'), url(./fonts/a_attack_graffiti/aAttackGraffiti.ttf) format('truetype');
}

@font-face {
  font-family: 'grobold';
  src: url(./fonts/GROBOLD.ttf);
}

.site-layout {
  min-height: 100vh !important;
  display: flex !important;
}

.mobile-app-header {
  background-image: url('./gltf/header.png') !important;
  background-size: cover !important;
  background-color: transparent !important;
  background-position: center center !important;
  z-index: 9;
  position: fixed;
  padding: 0 !important;
  width: 100%;
  height: 180px !important;
}

.App-header {
  background-image: url('./gltf/header.png') !important;
  background-repeat: no-repeat !important;
  background-size: 90% 100% !important;
  background-color: transparent !important;
  background-position: top center !important;
  z-index: 9;
  position: fixed;
  padding: 0 6% !important;
  width: 80rem;
  height: 12rem !important;
  align-self: center;
  justify-self: center;
}

.App-header span, .mobile-app-header span  , .ant-menu-title-content {
  font-size: 24px !important;
  font-family: aAttackGraffiti, serif;
  color: black
}

.App-header ul, .mobile-app-header ul {
  justify-content: center !important;
}

.ant-menu-sub {
  background-color: #baffff !important;
}

.ant-menu-item-only-child { 
  text-align: center;
}

.ant-menu-item-selected {
  background-color: transparent !important;
  background-image: url('./gltf/splash-removebg-preview.png') !important;
  background-size: 100% 5rem;
  background-position-y: center;
  transition: none !important;
}

.ant-menu-item:hover {
  background-color: transparent !important;
  color: aqua !important;
}

.App-header ul, .mobile-app-header ul {
  background-color: transparent !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#board {
  width: 80%;
  height: 70vh;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
