.loading-box {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.1s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.1s, opacity 0.1s linear;
}

@keyframes ldio-imaykejpq0m {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-imaykejpq0m div { box-sizing: border-box!important }
.ldio-imaykejpq0m > div {
  position: absolute;
  width: 144px;
  height: 144px;
  top: 28px;
  left: 28px;
  border-radius: 50%;
  border: 16px solid #000;
  border-color: #000000 transparent #000000 transparent;
  animation: ldio-imaykejpq0m 1s linear infinite;
}

.ldio-imaykejpq0m > div:nth-child(2), .ldio-imaykejpq0m > div:nth-child(4) {
  width: 108px;
  height: 108px;
  top: 46px;
  left: 46px;
  animation: ldio-imaykejpq0m 1s linear infinite reverse;
}
.ldio-imaykejpq0m > div:nth-child(2) {
  border-color: transparent #baffff transparent #baffff
}
.ldio-imaykejpq0m > div:nth-child(3) { border-color: transparent }
.ldio-imaykejpq0m > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-imaykejpq0m > div:nth-child(3) div:before, .ldio-imaykejpq0m > div:nth-child(3) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 48px;
  background: #000000;
  border-radius: 50%;
  box-shadow: 0 128px 0 0 #000000;
}
.ldio-imaykejpq0m > div:nth-child(3) div:after {
  left: -16px;
  top: 48px;
  box-shadow: 128px 0 0 0 #000000;
}

.ldio-imaykejpq0m > div:nth-child(4) { border-color: transparent; }
.ldio-imaykejpq0m > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-imaykejpq0m > div:nth-child(4) div:before, .ldio-imaykejpq0m > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 30px;
  background: #baffff;
  border-radius: 50%;
  box-shadow: 0 92px 0 0 #baffff;
}
.ldio-imaykejpq0m > div:nth-child(4) div:after {
  left: -16px;
  top: 30px;
  box-shadow: 92px 0 0 0 #baffff;
}
.loadingio-spinner-double-ring-m9q3lour4c {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff00;
}
.ldio-imaykejpq0m {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-imaykejpq0m div { box-sizing: content-box; }